name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      REGISTRY: ghcr.io
      IMAGE_NAMESPACE: ${{ github.repository_owner }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # Application Service
      - name: Build & Push application-service
        uses: docker/build-push-action@v4
        with:
          context: ./application-service
          file: ./application-service/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.IMAGE_NAMESPACE }}/application-service:latest
            ghcr.io/${{ env.IMAGE_NAMESPACE }}/application-service:${{ github.sha }}

      # Patient Service
      - name: Build & Push patient-service
        uses: docker/build-push-action@v4
        with:
          context: ./patient-service
          file: ./patient-service/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.IMAGE_NAMESPACE }}/patient-service:latest
            ghcr.io/${{ env.IMAGE_NAMESPACE }}/patient-service:${{ github.sha }}

      # Order Service
      - name: Build & Push order-service
        uses: docker/build-push-action@v4
        with:
          context: ./order-service
          file: ./order-service/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.IMAGE_NAMESPACE }}/order-service:latest
            ghcr.io/${{ env.IMAGE_NAMESPACE }}/order-service:${{ github.sha }}

